.search-box-one {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #2b3550;
  clip-path: polygon(100% 0, 100% 100%, 3% 100%, 0 80%, 0 0);
}
.search-box-two {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  background-color: #0f1524;
  clip-path: polygon(100% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
  transition: ease-in-out 0.3s;
}
.search-box-three {
  height: 40px;
  background-color: #2b3550;
  clip-path: polygon(97% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
}
.search-box-two:hover{
    background-color: #00c3ff73;
}
.game-card{
    background-color: #2b3550;
    border: 4px solid #1c243a;
    clip-path: polygon(10% 0,95% 0,100% 0%,100% 90%,90% 100%,0 100%,0 100%,0 16%);
}
.game-card:hover{
    border: 4px solid #00c3ff73;
}
.image{
    clip-path: polygon(10% 0,95% 0,100% 0%,100% 90%,90% 100%,0 100%,0 100%,0 20%);
}
.triangle-one {
  width: 80px;
  height: 20px;
  background: #1c243a;
  border: 1px solid #00c3ff73;
  clip-path: polygon(30% 0, 0 0, 0 100%);
}
.triangle-two {
  width: 80px;
  height: 20px;
  background: #1c243a;
  border: 1px solid #00c3ff73;
  clip-path: polygon(70% 0, 100% 0, 100% 100%);
}
.triangle-three {
  width: 80px;
  height: 20px;
  background: #1c243a;
  border: 1px solid #00c3ff73;
  clip-path: polygon(30% 100%, 0 100%, 0 0);
}
.triangle-four {
  width: 80px;
  height: 20px;
  background: #1c243a;
  border: 1px solid #00c3ff73;
  clip-path: polygon(70% 100%, 100% 100%, 100% 0);
}
.nameBtn{
    clip-path: polygon(55% 100%,50% 85%, 45% 100%,10% 100%,0 50%,10% 0,45% 0,50% 15%,55% 0,90% 0,100% 50%,90% 100%);
}