@import "tailwindcss";

@font-face {
  font-family: Ubuntu;
  src: url(./fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: HindSiliguri;
  src: url(../public/fonts/HindSiliguri-Regular.ttf);
}

@theme {
    --color-mainbg: #000000;
    --color-primarybg: #0F1524; 
    --color-cardbg: #333333;
    --color-border_clr: #bfbfbf;
    --color-hoverbdr: #00C3FF;
    --color-btnbg: #2b3550;
    --color-searchhover: #00c3ff73;
    --color-pcbg: #2b3550;

  --font-ubuntu: 'Ubuntu', sans-serif;
  --font-hind-siliguri: 'HindSiliguri', sans-serif;
}